main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    text-align: center;
}

.bg-carousel {
    background: #2b2d42;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
    font-size: medium;
}

.carousel img {
    height: 320px;
    padding: 35px;
    margin: 35px;
    /* border-radius: 50%; */
}

.carousel a {
    margin: 0 auto;
}

.created-by {
    font-size: 14px;
}

.created-by a:link {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        position: initial;
        top: 0;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: -2.5rem;
    }

    .carousel-caption h2 {
        color: #fff;
        font-size: 14px;
    }

    .carousel img {
        height: 225px;
        padding: 15px;
        margin: 15px;
        /* border-radius: 50%; */
    }
}
